.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {

    &:focus {
        @apply ring-0;
    }
}


.modal-padrao {
    width: 800px !important;
}

.btn-padrao-luz {
    color: #fff !important;
    background-color: #056880 !important;
}